asgiref==3.2.10
Babel==2.8.0
certifi==2020.12.5
chardet==3.0.4
Django==3.0.8
idna==2.10
mysql-connector==2.2.9
mysql-connector-python==8.0.21
newsapi-python==0.2.6
pillow==8.0.0
protobuf==3.13.0
python-form==0.2.3
pytz==2020.1
requests==2.25.0
six==1.15.0
sqlparse==0.3.1
tkcalendar==1.6.1
urllib3==1.26.2
